torch==2.8.0+cu125 
torchvision==0.13.0+cu125 
torchaudio==2.8.0 --extra-index-url https://download.pytorch.org/whl/cu125

numpy~=1.20
scipy
librosa==0.9.1
tensorboardX==1.1
Unidecode
text_unidecode
nltk>=3.6.5
tqdm
gdown
soundfile
py7zr
syllables
emoji==2.11.1
pyloudnorm
pyworld
